### Stationarity

In [11]:
import pandas as pd
import numpy as np
import statsmodels.graphics.tsaplots as sgt
import statsmodels.tsa.stattools as sts
from statsmodels.tsa.seasonal import seasonal_decompose
import seaborn as sns
import plotly.graph_objects as go
import plotly.express as px
from pandas.plotting import autocorrelation_plot
sns.set()

In [12]:
rw = pd.read_csv("df_2018_with_rw.csv")
df = rw.copy()
df["date"] = pd.to_datetime(df["date"], dayfirst=True) 
df.set_index("date", inplace=True)
df = df.asfreq("b")
df = df.dropna()

In [13]:
df.head()

            market_value           wn           rw
date
1994-01-07        469.90  1484.052488  1122.139662
1994-01-10        475.27  1062.021773  1080.347860
1994-01-11        474.13   765.761920  1082.095245
1994-01-12        474.17  1703.870574  1083.639265
1994-01-13        472.47  1304.167651  1067.146255

In [14]:
sts.adfuller(df["market_value"]) #nao pode confirmar a estacionaridade pelo p-value (2o valor)

(-1.7341463076798211,
 0.4136106612233415,
 18,
 4996,
 {'1%': -3.4316595802782865,
  '5%': -2.8621186927706463,
  '10%': -2.567078038881065},
 39862.6025921832)

In [15]:
sts.adfuller(df["wn"])

(-71.07663467180345,
 0.0,
 0,
 5014,
 {'1%': -3.4316548765428174,
  '5%': -2.8621166146845334,
  '10%': -2.5670769326348926},
 70873.29578365466)

In [16]:
sts.adfuller(df["rw"])

(-1.2749014535858885,
 0.6405752915257532,
 24,
 4990,
 {'1%': -3.4316611557350547,
  '5%': -2.862119388798601,
  '10%': -2.5670784094039782},
 46239.12819549595)